.wrapper {
	width: 80%;
	border-radius: 10px;
	border-color: rgb(65, 65, 65);
	box-shadow: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	font-family: "Roboto Mono", monospace, "Large 500";
}

.container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 2rem;
}

.content h3 {
	font-weight: bolder;
	font-size: 1.5rem;
	color: rgb(65, 65, 65);
	line-height: 2rem;
}

.content p {
	font-size: 1.2rem;
	line-height: 1.5em;
}

.image {
	width: 240px;
	height: 300px;
	box-shadow: 0 1px 4px black;
	border-radius: 5px;
	overflow: hidden;
	background-color: white;
	margin: auto;
}

.image img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}

@media (max-width: 768px) {
	.wrapper {
		width: 100%;
		border-radius: 10px;
		border-color: rgb(65, 65, 65);
		box-shadow: 10px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2rem;
		font-family: "Roboto Mono", monospace, "Large 500";
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.content h3 {
		text-align: center;
		font-weight: bolder;
		font-size: 1.5rem;
		color: rgb(65, 65, 65);
		line-height: 2rem;
	}

	.content p {
		font-size: 1.2rem;
		line-height: 1.5em;
		text-align: center;
	}

	.image {
		width: 240px;
		height: 300px;
		box-shadow: 0 1px 4px black;
		border-radius: 5px;
		overflow: hidden;
		background-color: white;
		margin: auto;
	}
}
